<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Jugador</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <style>
        label.error {
            color: red;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Futbol</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoPosiciones' %}">Posiciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoEquipo' %}">Equipos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'listadoJugador' %}">Jugadores <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center">Crear Nuevo Jugador</h1>
        <form id="crearJugadorForm" method="post" action="{% url 'crearJugador' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre_jug">Nombre del Jugador</label>
                <input type="text" class="form-control" id="nombre_jug" name="nombre_jug" required>
            </div>
            <div class="form-group">
                <label for="apellido_jug">Apellido del Jugador</label>
                <input type="text" class="form-control" id="apellido_jug" name="apellido_jug" required>
            </div>
            <div class="form-group">
                <label for="estatura_jug">Estatura del Jugador</label>
                <input type="number" step="0.01" class="form-control" id="estatura_jug" name="estatura_jug" required>
            </div>
            <div class="form-group">
                <label for="salario_jug">Salario del Jugador</label>
                <input type="number" step="0.01" class="form-control" id="salario_jug" name="salario_jug" required>
            </div>
            <div class="form-group">
                <label for="estado_jug">Estado del Jugador</label>
                <input type="text" class="form-control" id="estado_jug" name="estado_jug" required>
            </div>
            <div class="form-group">
                <label for="fk_id_pos">Posición del Jugador</label>
                <select class="form-control" id="fk_id_pos" name="fk_id_pos" required>
                    <option value="">Selecciona una posición</option>
                    {% for posicion in posiciones %}
                    <option value="{{ posicion.id }}">{{ posicion.id }} - {{ posicion.nombre_pos }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="fk_id_equi">Equipo del Jugador</label>
                <select class="form-control" id="fk_id_equi" name="fk_id_equi" required>
                    <option value="">Selecciona un equipo</option>
                    {% for equipo in equipos %}
                    <option value="{{ equipo.id }}">{{ equipo.id }} - {{ equipo.nombre_equi }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Jugador</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/localization/messages_es.min.js"></script>
    <script>
        $(document).ready(function() {
            const mensaje = "{{ mensaje }}";
            if (mensaje) {
                if (mensaje === "guardado") {
                    Swal.fire({
                        title: '¡Éxito!',
                        text: 'Registro guardado exitosamente.',
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    });
                }
            }

            // Validación del formulario de creación
            $('#crearJugadorForm').validate({
                rules: {
                    estatura_jug: {
                        number: true,
                        min: 0
                    },
                    salario_jug: {
                        number: true,
                        min: 0
                    }
                },
                messages: {
                    estatura_jug: {
                        number: 'Ingresa un número válido',
                        min: 'Ingresa un valor mayor o igual a 0'
                    },
                    salario_jug: {
                        number: 'Ingresa un número válido',
                        min: 'Ingresa un valor mayor o igual a 0'
                    }
                },
                errorElement: 'label',
                errorPlacement: function(error, element) {
                    error.addClass('error-message');
                    error.insertAfter(element);
                }
            });
        });
    </script>
</body>
</html>

