<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Equipo</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .container {
            margin-top: 20px;
        }
        label.error-message {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Crear Nuevo Equipo</h1>
        <form id="crearEquipoForm" method="post" action="{% url 'crearEquipo' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre_equi">Nombre del Equipo</label>
                <input type="text" class="form-control" id="nombre_equi" name="nombre_equi" required>
            </div>
            <div class="form-group">
                <label for="siglas_equi">Siglas</label>
                <input type="text" class="form-control" id="siglas_equi" name="siglas_equi" required>
            </div>
            <div class="form-group">
                <label for="fundacion_equi">Año de Fundación</label>
                <input type="text" class="form-control" id="fundacion_equi" name="fundacion_equi" required>
            </div>
            <div class="form-group">
                <label for="region_equi">Región</label>
                <input type="text" class="form-control" id="region_equi" name="region_equi" required>
            </div>
            <div class="form-group">
                <label for="numero_titulos_equi"># Títulos</label>
                <input type="number" class="form-control" id="numero_titulos_equi" name="numero_titulos_equi" required>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="/" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/localization/messages_es.min.js"></script>
    <script>
        $(document).ready(function() {
            // Validación del formulario de creación
            $('#crearEquipoForm').validate({
                rules: {
                    nombre_equi: {
                        required: true,
                        lettersOnly: true // Personalizado: permite solo letras
                    },
                    siglas_equi: {
                        required: true,
                        lettersOnly: true // Personalizado: permite solo letras
                    },
                    fundacion_equi: {
                        required: true,
                        digits: true, // Solo permite dígitos
                        maxlength: 4, // Máximo 4 dígitos
                        range: [1850, 2024] // Rango permitido
                    },
                    region_equi: {
                        required: true,
                        lettersOnly: true // Personalizado: permite solo letras
                    },
                    numero_titulos_equi: {
                        required: true,
                        digits: true // Solo permite dígitos
                    }
                },
                messages: {
                    nombre_equi: {
                        required: 'Este campo es obligatorio',
                        lettersOnly: 'Ingresa solo letras'
                    },
                    siglas_equi: {
                        required: 'Este campo es obligatorio',
                        lettersOnly: 'Ingresa solo letras'
                    },
                    fundacion_equi: {
                        required: 'Este campo es obligatorio',
                        digits: 'Ingresa solo números',
                        maxlength: 'Máximo 4 dígitos',
                        range: 'Ingresa un año entre 1850 y 2024'
                    },
                    region_equi: {
                        required: 'Este campo es obligatorio',
                        lettersOnly: 'Ingresa solo letras'
                    },
                    numero_titulos_equi: {
                        required: 'Este campo es obligatorio',
                        digits: 'Ingresa solo números enteros'
                    }
                },
                errorElement: 'label',
                errorPlacement: function(error, element) {
                    error.addClass('error-message');
                    error.insertAfter(element);
                }
            });

            // Método personalizado para letras solamente
            $.validator.addMethod('lettersOnly', function(value, element) {
                return this.optional(element) || /^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/.test(value);
            }, 'Ingresa solo letras (sin números ni caracteres especiales)');

            // Confirmación antes de enviar el formulario
            $('#crearEquipoForm').submit(function(event) {
                if ($('#crearEquipoForm').valid()) { // Verificar si el formulario es válido
                    event.preventDefault(); // Evita el envío automático del formulario

                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: "¿Deseas guardar este nuevo equipo?",
                        icon: 'success',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Sí, guardar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            this.submit();
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>

