<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Jugador</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Futbol</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoPosiciones' %}">Posiciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoEquipo' %}">Equipos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoJugador' %}">Jugadores</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center">Editar Jugador</h1>
        <form id="editarJugadorForm" method="post" action="{% url 'editarJugador' jugador.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre_jug">Nombre del Jugador</label>
                <input type="text" class="form-control" id="nombre_jug" name="nombre_jug" value="{{ jugador.nombre_jug }}" required>
            </div>
            <div class="form-group">
                <label for="apellido_jug">Apellido del Jugador</label>
                <input type="text" class="form-control" id="apellido_jug" name="apellido_jug" value="{{ jugador.apellido_jug }}" required>
            </div>
            <div class="form-group">
                <label for="estatura_jug">Estatura del Jugador (cm)</label>
                <input type="text" class="form-control" id="estatura_jug" name="estatura_jug" {% if jugador.estatura_jug %} value="{{ jugador.estatura_jug }}" {% endif %} required>
                {% if not jugador.estatura_jug %}
                    <p class="text-danger">Estatura no definida en el jugador</p>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="salario_jug">Salario del Jugador</label>
                <input type="text" class="form-control" id="salario_jug" name="salario_jug" {% if jugador.salario_jug %} value="{{ jugador.salario_jug }}" {% endif %} required>
                {% if not jugador.salario_jug %}
                    <p class="text-danger">Salario no definido en el jugador</p>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="estado_jug">Estado del Jugador</label>
                <select class="form-control" id="estado_jug" name="estado_jug" required>
                    <option value="Activo" {% if jugador.estado_jug == 'Activo' %} selected {% endif %}>Activo</option>
                    <option value="Inactivo" {% if jugador.estado_jug == 'Inactivo' %} selected {% endif %}>Inactivo</option>
                    <option value="Lesionado" {% if jugador.estado_jug == 'Lesionado' %} selected {% endif %}>Lesionado</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fk_id_pos">Posición</label>
                <select class="form-control" id="fk_id_pos" name="fk_id_pos" required>
                    {% for posicion in posiciones %}
                    <option value="{{ posicion.id }}" {% if jugador.fk_id_pos.id == posicion.id %} selected {% endif %}>{{ posicion.nombre_pos }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="fk_id_equi">Equipo</label>
                <select class="form-control" id="fk_id_equi" name="fk_id_equi" required>
                    {% for equipo in equipos %}
                    <option value="{{ equipo.id }}" {% if jugador.fk_id_equi.id == equipo.id %} selected {% endif %}>{{ equipo.nombre_equi }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
            <a href="{% url 'listadoJugador' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#editarJugadorForm').validate({
                rules: {
                    nombre_jug: {
                        required: true
                    },
                    apellido_jug: {
                        required: true
                    },
                    estatura_jug: {
                        required: true,
                        number: true,
                        min: 0
                    },
                    salario_jug: {
                        required: true,
                        number: true,
                        min: 0
                    },
                    estado_jug: {
                        required: true
                    },
                    fk_id_pos: {
                        required: true
                    },
                    fk_id_equi: {
                        required: true
                    }
                },
                messages: {
                    nombre_jug: {
                        required: "Por favor ingresa el nombre del jugador"
                    },
                    apellido_jug: {
                        required: "Por favor ingresa el apellido del jugador"
                    },
                    estatura_jug: {
                        required: "Por favor ingresa la estatura del jugador",
                        number: "Ingresa un número válido",
                        min: "La estatura debe ser mayor o igual a 0"
                    },
                    salario_jug: {
                        required: "Por favor ingresa el salario del jugador",
                        number: "Ingresa un número válido",
                        min: "El salario debe ser mayor o igual a 0"
                    },
                    estado_jug: {
                        required: "Por favor selecciona el estado del jugador"
                    },
                    fk_id_pos: {
                        required: "Por favor selecciona la posición del jugador"
                    },
                    fk_id_equi: {
                        required: "Por favor selecciona el equipo del jugador"
                    }
                },
                errorElement: 'span',
                errorPlacement: function(error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function(element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function(element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });
        });
    </script>
</body>
</html>

