<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Posición</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .container {
            margin-top: 20px;
        }
        label.error-message {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Editar Posición</h1>
        <form id="editarPosicionForm" method="post" action="{% url 'editarPosicion' posicion.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre_pos">Nombre de la Posición</label>
                <input type="text" class="form-control" id="nombre_pos" name="nombre_pos" value="{{ posicion.nombre_pos }}" required>
            </div>
            <div class="form-group">
                <label for="descripcion_pos">Descripción</label>
                <textarea class="form-control" id="descripcion_pos" name="descripcion_pos" rows="4" required>{{ posicion.descripcion_pos }}</textarea>
            </div>
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
            <a href="/listadoPosiciones" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/localization/messages_es.min.js"></script>
    <script>
        $(document).ready(function() {
            // Validación del formulario de edición de posición
            $('#editarPosicionForm').validate({
                rules: {
                    nombre_pos: {
                        required: true,
                        lettersOnly: true // Personalizado: permite solo letras
                    },
                    descripcion_pos: {
                        required: true
                    }
                },
                messages: {
                    nombre_pos: {
                        required: 'Este campo es obligatorio',
                        lettersOnly: 'Ingresa solo letras'
                    },
                    descripcion_pos: {
                        required: 'Este campo es obligatorio'
                    }
                },
                errorElement: 'label',
                errorPlacement: function(error, element) {
                    error.addClass('error-message');
                    error.insertAfter(element);
                }
            });

            // Método personalizado para letras solamente
            $.validator.addMethod('lettersOnly', function(value, element) {
                return this.optional(element) || /^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$/.test(value);
            }, 'Ingresa solo letras (sin números ni caracteres especiales)');

            // Confirmación antes de enviar el formulario
            $('#editarPosicionForm').submit(function(event) {
                if ($('#editarPosicionForm').valid()) { // Verificar si el formulario es válido
                    event.preventDefault(); // Evita el envío automático del formulario

                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: "¿Deseas guardar los cambios en esta posición?",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Sí, guardar cambios'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            this.submit();
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>

