<style>
    /* Estilos para el footer */
    footer {
        background-color: #343a40;
        color: white;
        padding: 20px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    footer p {
        margin-bottom: 0;
    }

    .footer-links {
        text-align: center;
    }

    .footer-links a {
        color: #ced4da;
        text-decoration: none;
        margin: 0 10px;
        font-size: 18px;
    }

    .footer-links a:hover {
        color: #ffffff;
    }
</style>
<!-- footer.html -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center footer-links">
                <a href="#">Política de Privacidad</a>
                <a href="#">Términos de Uso</a>
                <a href="#">Acerca de Nosotros</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 Futbol. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
