<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Estilos para el footer */
        footer {
            background-color: #343a40;
            color: white;
            padding: 20px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        footer p {
            margin-bottom: 0;
        }

        .footer-links {
            text-align: center;
        }

        .footer-links a {
            color: #ced4da;
            text-decoration: none;
            margin: 0 10px;
            font-size: 18px;
        }

        .footer-links a:hover {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <!-- Menú de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Futbol</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoPosiciones' %}">Posiciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoEquipo' %}">Equipos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoJugador' %}">Jugadores</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Contenido Principal -->
    <div class="container mt-5">
        <div class="row justify-content-center mt-4">
            <div class="col-md-8 text-center">
                <h2 style="font-size: 30px;"><strong>Información sobre el mundo del Futbol</strong></h2>
            </div>
        </div>

        <!-- Imagen centrada -->
        <div class="row justify-content-center mt-4">
            <div class="col-md-8 text-center">
                <img src="https://okdiario.com/img/2019/08/10/origen-del-futbol.jpg" class="img-fluid" alt="Origen del Futbol" style="max-height: 300px;">
            </div>
        </div>

        <!-- Texto grande en negrita -->
        <div class="row justify-content-center mt-4">
            <div class="col-md-8 text-center">
                <h1 style="font-size: 50px;"><strong>Bienvenido</strong></h1>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center footer-links">
                    <a href="#">Política de Privacidad</a>
                    <a href="#">Términos de Uso</a>
                    <a href="#">Acerca de Nosotros</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2024 Futbol. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
