<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Posiciones</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace a SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Futbol</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoPosiciones' %}">Posiciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoEquipo' %}">Equipos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoJugador' %}">Jugadores</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center">Listado de Posiciones</h1>
        <div class="mb-3">
            <a href="{% url 'crearPosicion' %}" class="btn btn-primary">Crear Nueva Posición</a>
        </div>
        <table class="table table-striped table-bordered">
            <caption>Registros de la Tabla Posicion</caption>
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for posicion in posiciones %}
                <tr>
                    <td>{{ posicion.id }}</td>
                    <td>{{ posicion.nombre_pos }}</td>
                    <td>{{ posicion.descripcion_pos }}</td>
                    <td>
                        <a href="{% url 'editarPosicion' posicion.id %}" class="btn btn-warning btn-action">Editar</a>
                        <!-- Añadimos un formulario para la eliminación con SweetAlert2 -->
                        <form method="post" action="{% url 'eliminarPosicion' posicion.id %}" class="d-inline-block form-eliminar">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger btn-action btn-eliminar">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Enlace a Bootstrap JS y dependencias Popper y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Enlace a SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        document.querySelectorAll('.btn-eliminar').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault(); // Evita la acción por defecto del botón
                const form = this.closest('form'); // Encuentra el formulario más cercano
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¡No podrás revertir esto!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, eliminar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit(); // Si el usuario confirma, envía el formulario
                    }
                })
            });
        });

        // Mostrar mensajes de éxito
        const mensaje = "{{ mensaje }}";
        if (mensaje) {
            if (mensaje === "guardado") {
                Swal.fire({
                    title: '¡Éxito!',
                    text: 'Registro guardado exitosamente.',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                });
            } else if (mensaje === "editado") {
                Swal.fire({
                    title: '¡Éxito!',
                    text: 'Registro editado exitosamente.',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                });
            } else if (mensaje === "eliminado") {
                Swal.fire({
                    title: '¡Éxito!',
                    text: 'Registro eliminado exitosamente.',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                });
            }
        }
    </script>
</body>
</html>
{% include 'footer.html' %}
