<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Jugadores</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Futbol</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoPosiciones' %}">Posiciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listadoEquipo' %}">Equipos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'listadoJugador' %}">Jugadores <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center">Listado de Jugadores</h1>
        <div class="mb-3">
            <a href="{% url 'crearJugador' %}" class="btn btn-primary">Crear Nuevo Jugador</a>
        </div>
        <table class="table table-striped table-bordered">
            <caption>Registros de la Tabla Jugador</caption>
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Estatura</th>
                    <th>Salario</th>
                    <th>Estado</th>
                    <th>Posición</th>
                    <th>Equipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for jugador in jugadores %}
                <tr>
                    <td>{{ jugador.id }}</td>
                    <td>{{ jugador.nombre_jug }}</td>
                    <td>{{ jugador.apellido_jug }}</td>
                    <td>{{ jugador.estatura_jug }}</td>
                    <td>{{ jugador.salario_jug }}</td>
                    <td>{{ jugador.estado_jug }}</td>
                    <td>{{ jugador.fk_id_pos.nombre_pos }}</td> <!-- Accede al nombre de la posición -->
                    <td>{{ jugador.fk_id_equi.nombre_equi }}</td> <!-- Accede al nombre del equipo -->
                    <td>
                        <a href="{% url 'editarJugador' jugador.id %}" class="btn btn-warning btn-action">Editar</a>
                        <form method="post" action="{% url 'eliminarJugador' jugador.id %}" class="d-inline-block form-eliminar">
                            {% csrf_token %}
                            <button type="button" class="btn btn-danger btn-action btn-eliminar">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        document.querySelectorAll('.btn-eliminar').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const form = this.closest('form');
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¡No podrás revertir esto!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, eliminar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                })
            });
        });

        const mensaje = "{{ mensaje }}";
        if (mensaje) {
            if (mensaje === "guardado") {
                Swal.fire({
                    title: '¡Éxito!',
                    text: 'Registro guardado exitosamente.',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                });
            } else if (mensaje === "editado") {
                Swal.fire({
                    title: '¡Éxito!',
                    text: 'Registro editado exitosamente.',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                });
            } else if (mensaje === "eliminado") {
                Swal.fire({
                    title: '¡Éxito!',
                    text: 'Registro eliminado exitosamente.',
                    icon: 'success',
                    confirmButtonText: 'Ok'
                });
            }
        }
    </script>
</body>

{% include 'footer.html' %}

<style>
    footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}
</style>

</html>


